-title "Administration"


.btn-toolbar
  .btn-group
    =link_to "Types de produit", product_natures_url, :class => "btn"
    -# =link_to "Produits", products_url, :class => "btn"
    =link_to "Ventes", sales_url, :class => "btn"
    =link_to "Résidents", residents_url, :class => "btn"
    -#
