/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "compass/reset";
@import "compass/css3";
@import "bootstrap";
@import "bootstrap-responsive";
@import "active-list";

textarea { 
  width: 90%;
  resize: vertical;
}


body { 
  background: #7BF image-url("bg.png") no-repeat top right; background-size: 100%; 
  #page { 
    .container { 
      .wrapper { 
        padding: 20px;
        margin: 20px;
        @include box-shadow(0 0 20px rgba(#000, 0.2));
        @include border-radius(5px);
        background: rgba(#FFF, 0.6);
      }
     
    }
  }
}

.product { 
  margin-left: 40px;
}

h1 { 
  color: #ffd93a;
  span.city { color: #0b3d92; }
  span.name { color: #0b3d92 }
}

table { 
  .buy, .amount { 
    vertical-align: middle;
  }
  .amount { 
    text-align: right;
    font-weight: bold;
    font-size: 17px;
  }
}